
body{
    background: url(../images/castle.jpg);
    color: #FF6AC1;
    font-family: 'Kalam', cursive;

}

header{
    text-align: center;
}

img{
    border: 2px solid whitesmoke;
    max-width: 400px;
}

.disfont{
    font-family: 'WaltographRegular';
   font-weight: normal;
   font-style: normal;
   font-size: 60px;
   color: #FF6AC1;
   -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;

}

#gamedir{
   
    font-size: 28px;
     -webkit-text-stroke-width: 1px;
     -webkit-text-stroke-color: whitesmoke;
 
}

#hide{
    display: none;
}